.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $cells-margin;

  margin: 15vh auto;

  width: $cell-size * $days-in-line + $cells-margin * ($days-in-line - 1);
}

@for $i from 28 through 31 {
  .calendar-#{$i} {

    @for $j from 1 through $i {
      & :nth-child(#{$j}) {
        @include default-cell-styles;

        &:hover {
          @include hovered-cell-styles;
        }
      }

      & :nth-child(#{$j})::after {
        content: "#{$j}";
      }
    }
  }
}

@each $day,$marg in $days {
  .calendar-#{$day} :first-child {
    margin-left: ($cell-size + $cells-margin)  * $marg;
  }
}
