.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;

  margin: 15vh auto;

  width: $cell-size * 7 + $margins-between-cells * 6;
}

@for $i from 28 through 31 {
  .calendar-#{$i} {

    @for $j from 1 through $i {
      & :nth-child(#{$j}) {
        @include default-cell-styles;

        &:hover {
          @include hovered-cell-styles;
        }
      }

      & :nth-child(#{$j})::after {
        content: "#{$j}";
      }
    }
  }
}

@each $day,$marg in $days {
  .calendar-#{$day} :first-child {
    margin-left: ($cell-size + $margins-between-cells)  * $marg;
  }
}
